<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="FirstStep"
            id="first-step-plugin">
      </category>
      <view
            name="FirstStep Preview"
            icon="icons/sample.gif"
            category="first-step-plugin"
            class="firststepplugin.views.FirstStepPreviewView"
            id="firststepplugin.views.FirstStepPreviewView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="firststepplugin.views.FirstStepPreviewView"
               ratio="0.4"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
