<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="FirstStep"
            id="firststep.plugin">
      </category>
      
      <view
            name="FirstStep Preview"
            icon="icons/sample.gif"
            category="firststep.plugin"
            class="firststep.plugin.views.FirstStepPreviewView"
            id="firststep.plugin.views.FirstStepPreviewView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="firststep.plugin.views.FirstStepPreviewView"
               ratio="0.4"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="firststep.plugin.container.FIRSTSTEP_CONTAINER"
          class="firststep.plugin.container.FirstStepContainerInitializer"/>
   </extension>

   <extension
       point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
          id="firststep.plugin.container.FIRSTSTEP_CONTAINER"
          name="FirstStep Library Container"
          class="firststep.plugin.container.FirstStepContainerPage"/>
   </extension>

	<extension
	      id="firststep.plugin.FirstStepNature"
	      point="org.eclipse.core.resources.natures">
	   <runtime>
	      <run
	         class="firststep.plugin.FirstStepNature">
	      </run>
	   </runtime>
	</extension>
<!--   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
         <filter
               id="org.container.directory.ContainerDirFilter"
               targetId="org.eclipse.jdt.ui.PackageExplorer"
               enabled="true"
               name="Classpath Directory Container"
               description="Dynamically include jar files from this directory in the classpath"
               class="firststep.plugin.container.ContainerDirFilter"/>
   </extension>-->
   
   <extension
		point="org.eclipse.ui.newWizards">
	   <category 
	        id="firststep.newproject.category" 
	        name="FirstStep">
	   </category> 
	  	<wizard
			id="firststep.plugin.wizard.FirstStepProjectCreationWizard"
			name="FirstStep Project"
			class="firststep.plugin.wizard.FirstStepProjectCreationWizard"
			category="firststep.newproject.category"
			project="true"
			finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
			icon="icons/full/ctool16/newjprj_wiz.gif">
			<description>Create a FirstStep project</description>
    	</wizard>
	</extension>
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="firststep.plugin.intro">
      </intro>
      <introProductBinding
            introId="firststep.plugin.intro"
            productId="org.eclipse.platform.ide">
      </introProductBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="firststep.plugin.introConfigId"
            introId="firststep.plugin.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         id="fiststep"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="FirstStep IDE">
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="appName"
               value="FirstStep IDE">
         </property>
      </product>
   </extension>
   
   

</plugin>
