<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Render"
            id="first-step-plugin">
      </category>
      <view
            name="FirstStep Graphics"
            icon="icons/sample.gif"
            category="first-step-plugin"
            class="firststepplugin.views.FirstStepGraphicsView"
            id="firststepplugin.views.FirstStepGraphicsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="firststepplugin.views.FirstStepGraphicsView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
